.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    row-gap: 10px;
    column-gap: 50px;
}

.grid-item{
    background-color:slateblue;
    color:white;
    text-align:center;
    font-size: 20px;
    border: 2px solid hotpink;
}

.item1{
    grid-column: 1/1;
}

.item2{
    grid-column: 2/2;
}

.item3{
    grid-column: 3/3;
}

.item4{
    grid-column: 3/4;
}

.item5{
    grid-column: 3/4;
}
