body{
    background-image:url("../images/new-zealand-2196313_1920.jpg")
}
h1{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
    color:white;
}
header{
    text-align:center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

  section h3{
    text-align:center;
  }

  section p{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:25px;
  }

  section h2{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
  }

  section ul{
    list-style-image:url(../images/flag\ \(1\).png);
    text-align:center;
    list-style-position: inside;
  }
  
  

  section li h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  footer h4{
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

  }